@model WebScrapper_Prototype.Models.ProductModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Swift Link</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/_products.css" rel="stylesheet">
</head>
<body>
    <a class="btn btn-outline-white btn-lg" margin:15px;"rel="nofollow noopener" asp-action="Index">
        <img src="~/Media/Navigation/Back.png" height="50" width="50" /> Home
    </a>
    <section class="mb-4">
        <div style="padding:25px;">
            <h1 style="margin-top:10px;">Product Details</h1>
            <h4>Product</h4>
            <hr />
            <dl class="row overflow-auto">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductStatus)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductStatus)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductCategory)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductCategory)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductBasePrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductBasePrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductSalePrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductSalePrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImageURL)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ImageURL)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VendorSite)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VendorSite)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VendorProductURL)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VendorProductURL)
                </dd>
            </dl>
            <a class="btn btn-outline-white btn-lg" style="background-color: red !important;" rel="nofollow noopener" asp-action="Delete" asp-route-id="@Model?.ID">
                Delete
            </a>
            <a class="btn btn-outline-white btn-lg" style="background-color: cadetblue !important;" rel="nofollow noopener" asp-action="Edit" asp-route-id="@Model?.ID">
                Edit
            </a>
        </div>
    </section>

    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <hr class="my-4">
        <div class="footer-copyright py-3">
            © 2023 Copyright:
            <a href="" target="_blank"> SwiftLink.com </a>
        </div>
    </footer>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript">new WOW().init();</script>
</body>

</html>

