@model IEnumerable<WebScrapper_Prototype.Models.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Swift Link</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/_products.css" rel="stylesheet">
</head>
<body>
    <partial name="_AdminPartial" />
    <h1 style="margin-top:100px;">Product List</h1>

<table class="product-table" title="Product Table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Image">                        
                    <img src="~/Uploads/@item.ImageURL" height="50" width="50" />
                    </td>
                <td data-label="Model">
                    <strong>
                        @Html.DisplayFor(modelItem => item.ProductName)
                        </strong>
                    </td>
                    <td data-label="Model">
                        <strong>
                            SwiftLink Price: R @Html.DisplayFor(modelItem => item.ScrappedPrice)
                        </strong>
                    </td>
                <td data-label="Price" data-align="center">
                    <a class="table-button" rel="nofollow noopener" asp-action="" asp-route-id="@item.ID">View</a>
                        <a class="table-button" rel="nofollow noopener" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="table-button" style=" background-color: red !important;" rel="nofollow noopener" rel="nofollow noopener" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>      
        }
        </tbody>
        </table>            
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript">new WOW().init();</script>
</body>
</html>