@using Microsoft.AspNetCore.Identity;
@using WebScrapper_Prototype.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model WebScrapper_Prototype.Models.UserViewModel
@{
	ViewData["Title"] = "Checkout";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Title Tag  -->
	<title>Checkout</title>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/Media/LogoCropped.png" src="/Media/LogoCropped.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="~/css/reset.css">
	<!-- Nice Select JS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="~/css/site.css">
</head>
<body class="js">
	<div id="progressBarContainer">
		<div id="progressBar"></div>
	</div>
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	<!-- End Scroll -->
	<div id="progressBarContainer">
		<div id="progressBar"></div>
	</div>
	<!-- End Scroll -->
	<!-- Header -->
	<div class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> <a href="tel:0815650206">Call us</a></li>
								<li><i class="ti-email"></i> <a href="mailto:brandenconnected@gmail.com">Email us</a></li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-6 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							@if (User.IsInRole("Manager"))
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="#products">Shop</a></li>
									<li><i class="ti-dashboard"></i><a href="/Backend">Backend</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else if (User.IsInRole("User"))
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="#products">Shop</a></li>
								</ul>
							}
							else
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a href="/User">Sign up</a></li>
								</ul>
							}
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Middle Inner -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="/Media/LogoCropped.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Categories</option>
								</select>
								<form>
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button class="btnn" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<div id="account" class="sinlge-bar shopping">
								<a id="AccountHover" href="#" onclick="loadAccount()" class="single-icon"><i class="fa fa-user-circle-o"></i></a>
								@if (ViewBag.IsCookie)
								{
									<div id="AccountOptions" class="shopping-item">
										<div class="dropdown-cart-header">
											<p class="h4">@ViewBag.FirstName</p>
										</div>
										<ul class="shopping-list">
											<li>
												<a class="h5" href="/User">Login</a>
											</li>
											<li>
												<a class="h5" href="/User">Register</a>
											</li>
										</ul>
										<div class="bottom">
											<a href="/User/Logout" class="btn animate">Logout</a>
										</div>
									</div>
								}
								else
								{
									<div id="AccountOptions" class="shopping-item">
										<div class="dropdown-cart-header">
											<p>Hello <span class="font-weight-bold">@ViewBag.FirstName</span>,<br /> What would you like to do?</p>
										</div>
										<ul class="shopping-list">
											<li>
												<a class="cart-img" href="/User"><img src="#" alt="UserImage" /></a>
											</li>
											<li>
												<a class="h4" href="/User">My Account</a>
											</li>
											<li>
												<a class="h5" href="/User">My Orders</a>
											</li>
											<li>
												<a class="h6" href="/User">Check Order Status</a>
											</li>
										</ul>
										<div class="bottom">
											<a href="/User/Logout" class="btn animate">Logout</a>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Middle Inner -->
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-12">
							<div id="shopmenu" class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class="active">
													<a href="/Shop">Shop</a>
												</li>
												<li>
													<a>Upgrade Kits & Combos<i class="ti-angle-down"></i></a>
													<ul class="dropdown">
														<li><a href="/Cart">Upgrade Kits</a></li>
														<li><a href="/Cart">CPUs & Coolers Combos</a></li>
														<li><a href="/Cart">Peripherals Combos</a></li>
													</ul>
												</li>
												<li>
													<a>Trending Products<i class="ti-angle-down"></i><span class="new">New</span></a>
													<ul class="dropdown">
														<li><a href="/Cart">Intels Latest i7 & i5 CPUs</a></li>
														<li><a href="/Cart">AMD Ryzen</a></li>
														<li><a href="/Cart">Nvidia RTX</a></li>
														<li><a href="/Cart">Gaming Peripherals & Accessories</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</div>
	<!--/ End Header -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/Shop/Cart">Cart<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/Checkout">Checkout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<!-- Start Checkout -->
	<div id="loading-bar" style="display: none;">
		<section class="shop checkout section">
			<h4>Please wait while we process your order...</h4>
		</section>
	</div>
	<section id="123Section" class="shop checkout section">
		<div class="container">
			<div class="col-md-12 col-md-8 col-12">
				<div class="row">
					@if (ViewBag.userIsCookie)
					{
						<div class="col-lg-8 col-12">
							<div class="checkout-form">
								<h2>Register to Proceed</h2>
								<p>We don't share any of your information with anyone.</p>
								<!-- Form -->
								<form id="registerForm" asp-action="EntireUser" class="form" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>First Name<span>*</span></label>
												<input asp-for="FirstName" type="text" name="firstName" autocomplete="firstname" placeholder="Bill" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Last Name<span>*</span></label>
												<input asp-for="LastName" type="text" name="lastName" autocomplete="lastname" placeholder="Gates" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Email Address<span>*</span></label>
												<input asp-for="Email" type="email" name="email" autocomplete="email" placeholder="lowprices@wazaware.co.za" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Phone Number<span>*</span></label>
												<input asp-for="PhoneNumber" type="tel" name="phoneNumber" autocomplete="cellphone" placeholder="0815650206" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Province<span>*</span></label>
												<select name="province" asp-for="Province">
													<option value="ZA">Western Cape</option>
													<option value="CH">Gauteng</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>City<span>*</span></label>
												<select name="city" asp-for="City">
													<option value="CPT">Cape Town (CPT)</option>
													<option value="PE">Port Elizabeth (PE)</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Unit No.<span>*</span></label>
												<input asp-for="Unit" type="text" name="unit" autocomplete="on" placeholder="213 Villa Costa" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Street Name<span>*</span></label>
												<input asp-for="Street" type="text" name="street" autocomplete="on" placeholder="St James Road" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Area/Suburb<span>*</span></label>
												<input asp-for="Area" type="text" name="area" autocomplete="on" placeholder="Seapoint" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Postal Code<span>*</span></label>
												<input asp-for="PostalCode" type="number" name="postalCode" autocomplete="on" placeholder="8001" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Create a password<span>*</span></label>
												<input asp-for="Password" type="password" name="password" autocomplete="off" placeholder="*********" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Confirm password<span>*</span></label>
												<input asp-for="ConfirmPassword" type="password" name="confirmPassword" autocomplete="off" placeholder="*********" required="required">
											</div>
										</div>
										<div class="col-12">
											<input type="submit" value="Submit Details" class="btn btn-primary" />
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					}
					else if (String.IsNullOrEmpty(Model.Area))
					{
						<div class="col-lg-8 col-12">
							<div class="checkout-form">
								<h2>Provide Shipping Address</h2>
								<p>Looks like we don't have your shipping address yet.<br />We don't share any of your information with anyone.</p>
								<!-- Form -->
								<form id="registerForm" asp-action="ShippingUser" class="form" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Province<span>*</span></label>
												<select name="province" asp-for="Province">
													<option value="WC">Western Cape</option>
													<option value="EC">Eastern Cape</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>City<span>*</span></label>
												<select name="city" asp-for="City">
													<option value="CPT">Cape Town (CPT)</option>
													<option value="PE">Port Elizabeth (PE)</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Unit No.<span>*</span></label>
												<input asp-for="Unit" type="text" name="unit" autocomplete="on" placeholder="213 Villa Costa" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Street Name<span>*</span></label>
												<input asp-for="Street" type="text" name="street" autocomplete="on" placeholder="St James Road" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Area/Suburb<span>*</span></label>
												<input asp-for="Area" type="text" name="area" autocomplete="on" placeholder="Seapoint" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Postal Code<span>*</span></label>
												<input asp-for="PostalCode" type="number" name="postalCode" autocomplete="on" placeholder="8001" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Create a password<span>*</span></label>
												<input asp-for="Password" type="password" name="password" autocomplete="off" placeholder="*********" required="required">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<label>Confirm password<span>*</span></label>
												<input asp-for="ConfirmPassword" type="password" name="confirmPassword" autocomplete="off" placeholder="*********" required="required">
											</div>
										</div>
										<div class="col-12">
											<input type="submit" value="Submit Details" class="btn btn-primary" />
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					}
					else if (!String.IsNullOrEmpty(ViewBag.Result))
					{
						<p class="h3">@ViewBag.Result</p>
						<div class="container text-center">
							<div class="row">
								<div class="col">
									<a href="#" class="btn-elegant">Login</a>
								</div>
								<div class="col">
									<a href="#" class="btn-orange">Register with a Different Email Address</a>									
								</div>
								<div class="col">
									<a href="#" class="btn-warning">Reset Password?</a>									
								</div>
							</div>
						</div>						
					}
					else if(ViewBag.userIsCookie == false)
					{
						<div class="col-lg-6 col-md-6 col-12">
							<div class="order-details">
								<!-- Order Widget -->
								<div class="single-widget">
									<p class="fw-bolder h5">Please Verify You Contact & Shipping Details</p>
									<div class="content">
										<ul>
											<li>
												First Name:
												<span class="total-amount">@Model.FirstName</span>
											</li>
											<li>
												LastName:
												<span class="total-amount">@Model.LastName</span>
											</li>
											<li>
												Contact Email:
												<span class="total-amount">@Model.Email</span>
											</li>
											<li>
												Cellphone Number:
												<span class="total-amount">@Model.PhoneNumber</span>
											</li>
											<li class="last">
												Shipping Address:
												<span class="total-amount">@Model.Unit @Model.Street</span><br>
												<span class="total-amount">@Model.Area, @Model.City</span><br>
												<span class="total-amount">@Model.Province, @Model.PostalCode</span>
											</li>
										</ul>
									</div>
								</div>
								<!--/ End Order Widget -->
								<!-- Button Widget -->
								<div class="single-widget get-button">
									<div class="content">
										<div class="button">
											<a href="#" class="btn disabled">Edit</a>
										</div>
									</div>
								</div>
								<!--/ End Button Widget -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="order-details">
								<!-- Order Widget -->
								<div class="single-widget">
									<h2>
										Order Summary
										<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#"><i class=" ti-eye"></i><span>View Order</span></a>
									</h2>
									<div class="content">
										<ul>
											<li>
												Total Items:
												<span class="total-amount" style="font-weight:600;">@ViewBag.BasketCount</span>
											</li>
											<li>
												Before Discount:
												<span class="total-amount" style="text-decoration-line:line-through; color:red;">R @ViewBag.CartTotalBase.ToString("#,##0.00")</span>
											</li>
											<li>
												You Save:
												<span class="total-amount" style="color:forestgreen;font-weight:800;">R @ViewBag.Savings.ToString("#,##0.00")</span>
											</li>
											<li>
												Sub Total:
												<span class="total-amount" style="font-weight:600;">R @ViewBag.CartTotalSale.ToString("#,##0.00")</span>
											</li>
											<li>
												Shipping:
												@if (ViewBag.GetFreeShipping > 0)
												{
													<label>Spend R <span style="text-decoration-line:underline;">@ViewBag.GetFreeShipping</span> to get <b>FREE</b> Shipping</label>
												}
												else
												{
													<span><b>FREE</b></span>

												}
											</li>
											<li style="color:gray;">
												Handling Fee <i class="fa fa-info-circle" style="white-space: nowrap;" data-toggle="tooltip" data-placement="right" title="Think of our handling fee like a secret seasoning - it's the special ingredient that adds value to your shopping experience and helps us continue providing top-notch service without sacrificing our bottom line."></i> :
												<span style="color:gray;">R @ViewBag.HandlingFee</span>
											</li>
											<li class="last">Total: <span style="text-decoration-line:underline;font-weight:700;">R @ViewBag.GrandTotal.ToString("#,##0.00")</span></li>
										</ul>
									</div>
								</div>
								<!-- Button Widget -->
								<div class="single-widget get-button">
									<div class="content">
										<div class="button">
										</div>
									</div>
								</div>
								<!--/ End Button Widget -->
								<!--/ End Order Widget -->
							</div>
						</div>
						<h2 id="makepayment">Select Payment Method Below:</h2>
						<div class="col-lg-12 col-md-6 col-12">
							<div class="order-details">
								<!-- Order Widget -->
								<div class="single-widget">
									<h2 id="makepayment">Payment Methods</h2>
									<div class="content">
										<ul class="check-box-list">
											<li>
												<label class="checkbox-inline" for="0"><input name="EFT" id="0" type="checkbox"> EFT</label>
											</li>
											<li>
												<label class="checkbox-inline" for="1"><input name="PayPal" id="1" type="checkbox"> PayPal</label>
											</li>
											<li>
												<label class="checkbox-inline" for="2"><input name="CreditCard" id="2" type="checkbox"> Credit Card</label>
											</li>
											<li>
												<label class="checkbox-inline" for="3"><input name="PayFast" id="3" type="checkbox"> PayFast</label>
											</li>
										</ul>
									</div>
								</div>
								<!--/ End Order Widget -->
								<!-- Button Widget -->
								<div class="single-widget get-button">
									<div class="content">
										<div class="button">
											<a href="#" onclick="proceedToCheckout()" class="btn">Proceed with payment</a>
										</div>
									</div>
								</div>
								<!--/ End Button Widget -->
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</section>
	<!--/ End Checkout -->
	<section class="shop-services section home">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shipping</h4>
						<p>Orders over R1500</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Warranty Included</h4>
						<p>Up to 2 years</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Secure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Price</h4>
						<p>Everything is <span>On Sale</span> 24/7 </p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	<!-- Modal -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div id="QuickShopModal" class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
				</div>
				<div id="progressBarContainer">
					<div id="progressBar"></div>
				</div>
				@foreach (var product in ViewBag.Items)
				{
					<div class="modal-body">
						<div class="row no-gutters">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<!-- Product Slider -->
								<div class="product-gallery">
									<div class="quickview-slider-active">
										<div class="single-slider">
											<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
										</div>
									</div>
								</div>
								<!-- End Product slider -->
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<div class="quickview-content">
									<a href="/Shop/Product/@product.Id">
										<h2>@product.ProductName</h2>
									</a>
									<div class="quickview-ratting-review">
										<div class="quickview-ratting-wrap">
											<div class="quickview-ratting">
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<a href="#"> (1 customer review)</a>
										</div>
									</div>
									<div class="quickview-stock">
										<span><i class="fa fa-check-circle-o"></i> @product.ProductStock</span>
									</div>
									<div class="product-price">
										<span class="text-decoration-line-through">R @product.ProductBasePrice</span>
										<h3 style="color:red; font-weight:800;">R @product.ProductSalePrice</h3>
									</div>
									<div class="quickview-peragraph">
										<p>@product.ProductDescription</p>
									</div>
									<div class="quantity">
										<!-- Input Order -->
										<div class="input-group">
											<div class="button minus">
												<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
													<i class="ti-minus"></i>
												</button>
											</div>
											<input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
											<div class="button plus">
												<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
													<i class="ti-plus"></i>
												</button>
											</div>
										</div>
										<!--/ End Input Order -->
									</div>
									<div class="add-to-cart">
										<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
										<a href="#" onclick="loadAddToWishlist('@product.Id')" class="btn min"><i class="ti-heart"></i></a>
									</div>
									<div class="default-social">
										<h4 class="share-now">Share:</h4>
										<ul>
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
											<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<!-- Modal end -->
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="/"><img src="/Media/LogoCropped.png" alt="#"></a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+27 81 565 0206</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="/Home/UnderConstruction">About Us</a></li>
								<li><a href="/Home/UnderConstruction">Faq</a></li>
								<li><a href="/Home/UnderConstruction">Terms & Conditions</a></li>
								<li><a href="/Home/UnderConstruction">Contact Us</a></li>
								<li><a href="/Home/UnderConstruction">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="/Home/UnderConstruction">Payment Methods</a></li>
								<li><a href="/Home/UnderConstruction">Money-back</a></li>
								<li><a href="/Home/UnderConstruction">Returns</a></li>
								<li><a href="/Home/UnderConstruction">Shipping</a></li>
								<li><a href="/Home/UnderConstruction">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Touch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>Montague Gardens Cape Town</li>
									<li>8001 South Africa.</li>
									<li>info@swfitlink.com</li>
									<li>+27 81 565 0206</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2023 <a href="/" target="_blank">SwiftLink</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="images/payments.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	@section Scripts {
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	}
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/s/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="~/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/js/flex-slider.js"></script>
	<!-- Alertify -->
	<script src="~/alertifyjs/alertify.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>

	<!-- Custom Scripts -->
	<!--Load Scrolling Bar-->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>
	<!--Functions-->
	<script type="text/javascript">
		// Hide the loading bar on page load
		$(document).ready(function () {
			$('#loading-bar').hide();
			$('#123Section').show();
		});

		// [GET]
		// Proceed to checkout
		function proceedToCheckout() {
			let startPlaceOrder = 1;
			// Show the loading bar
			$('#loading-bar').show();
			$('#123Section').hide();
			// Make an Ajax call to the server to start the processing
			$.ajax({
				type: "GET",
				url: '/Checkout/Index',
				data: { startPlaceOrder: startPlaceOrder },
				success: function (r) {
					alertify.notify('Order Created!', 'success', 2, function () { console.log('dismissed'); });
					// Hide the loading bar when the processing is complete
					$('#loading-bar').hide();

					// Do something with the server response, if necessary
					alert('Thank You. Your Order has been placed. Please check your email!');
					window.location.href = '/Orders/Index';
				},
				error: function (e) {
					alertify.error('Error: You have entered some invalid information');
					window.location.href = '/Shop/Index';
				}
			});
		}
	</script>
</body>

</html>