@using WebScrapper_Prototype.Controllers;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using Microsoft.AspNetCore.Identity;
@using WebScrapper_Prototype.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model X.PagedList.IPagedList<WebScrapper_Prototype.Models.Product>
@{
	ViewData["Title"] = "Cart";
	ViewBag.Title = "Cart";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>Shop</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">

	<!-- StyleSheet -->
	<link rel="stylesheet" href="~/css/reset.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/responsive.css">
	<link rel="stylesheet" href="~/css/site.css">
	<link href="~/Content/PagedList.css" type="text/css" rel="stylesheet">
</head>
<body class="js">
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	<!-- Header -->
	<div class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +27 (081) 565-0206</li>
								<li>
									<i class="ti-email"></i>
									support@swiftlink.com
								</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							@if (User.IsInRole("Manager"))
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-dashboard"></i><a href="/Dashboard">Dashboard</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else if (User.IsInRole("User"))
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else
							{
								<ul class="list-main">
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a href="/Identity/Account/Login">Login</a></li>
								</ul>
							}
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="#" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Categories</option>
								</select>
								<form>
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button class="btnn" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					@if (User.IsInRole("User") || User.IsInRole("Manager"))
					{
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								<!-- Search Form -->
								<div class="sinlge-bar shopping">
									<a href="#" onclick="loadWishlist()" class="single-icon"><i class="fa fa-heart-o"></i></a>
									<!-- Wishlist Item -->
									<div id="Wishlistbasket" class="shopping-item">
										@if (ViewBag.Wishlist == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														My Wishlist
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ID')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.ID"><img src="@product.ImageURL" alt="#"></a>
															<h4><a href="/Shop/Product/@product.ID">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">
																1x - <span class="amount" style="text-decoration-line:line-through;color:red;">R @product.ProductBasePrice</span>
																<span class="amount" style="font-weight:800">R @product.ProductSalePrice</span>
															</p>
														</li>
													</ul>
												}
												<div class="bottom"></div>
											}
											else
											{
												<p>Your Wish list is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
								</div>
								<!--/ End Wishlist Item -->
								<div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar shopping">
									<a href="#" onclick="loadCart()" class="single-icon">
										<i class="ti-bag"></i>
										<span class="total-count">
											@ViewBag.BasketCount
										</span>
									</a>
									<!-- Shopping Item -->
									<div id="shoppingbasket" class="shopping-item">
										<script type="text/javascript">
											$(document).ready(function () {
												$('.single-icon').mouseenter(function () {
													let basketId = 1;
													$.ajax({
														type: 'GET',
														url: '/Home/Index',
														data: { basketId: basketId },
														success: function (r) {
															$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
														},
														error: function () {
															$("#productInfo h2").text("Product is no Longer in Stock!");
														}
													});
												});
											});
										</script>
										@if (ViewBag.BasketLoad == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														View Cart
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ID')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.ID"><img src="@product.ImageURL" alt="#"></a>
															<h4><a href="/Shop/Product/@product.ID">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">
																1x - <span class="amount" style="text-decoration-line:line-through; color:red;">R @product.ProductBasePrice</span>
																<span class="amount" style="font-weight:800;">R @product.ProductSalePrice</span>
															</p>
														</li>
													</ul>
												}
												<div class="bottom">
													<div class="total">
														<span>Sub Total:</span>
														<span class="total-amount" style="text-decoration-line:line-through; color:red;">R @ViewBag.CartTotalBase</span>
													</div>
													<div class="total">
														<span>Discount:</span>
														<span class="total-amount" style="font-weight:800;">- R @ViewBag.Savings</span>
													</div>
													<div class="total">
														<span>Total:</span>
														<span class="total-amount" style="text-decoration-line:underline;font-weight:800;">R @ViewBag.CartTotalSale</span>
													</div>
													<a href="/Home/UnderConstruction" class="btn animate">Checkout</a>
												</div>
											}
											else
											{
												<p>Your Cart is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
									<!--/ End Shopping Item -->
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>BROWSE</h3>
								<ul class="main-category">
									@*									<li>
									<a href="#">Manufacturers <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									<ul class="sub-category">
									<li>
									@Html.ActionLink("Dell", "Index", "Shop", new { manufacturer = "Dell" })
									</li>
									<li>
									@Html.ActionLink("Phanteks", "Index", "Shop", new { manufacturer = "Phanteks" })
									</li>
									<li>
									@Html.ActionLink("ASUS", "Index", "Shop", new { manufacturer = "ASUS" })
									</li>
									<li>
									@Html.ActionLink("Gigabyte", "Index", "Shop", new { manufacturer = "Gigabyte" })
									</li>
									</ul>
									</li>*@
									<li class="main-mega">
										<a href="/Home/UnderConstruction">New Arrivals<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="mega-menu">
											<li class="single-menu">
												@Html.ActionLink("AMD", "Index", "Shop",
												new { manufacturer = "AMD" },
												new { Class="title-link" })
												<div class="image">
													<a href="/Shop?manufacturer=AMD"><img src="/Media/Home/6.png" alt="#"></a>
												</div>
												<div class="inner-link">
													<a href="#">
														@Html.ActionLink("Ryzen 9", "Index", "Shop", new { manufacturer = "Ryzen 9" })
													</a>
													<a href="#">
														@Html.ActionLink("Ryzen 7", "Index", "Shop", new { manufacturer = "Ryzen 7" })
													</a>
													<a href="#">
														@Html.ActionLink("Ryzen 5", "Index", "Shop", new { manufacturer = "Ryzen 5" })
													</a>
												</div>
											</li>
											<li class="single-menu">
												@Html.ActionLink("Intel", "Index", "Shop",
												new { manufacturer = "Intel" },
												new { Class="title-link" })
												<div class="image">
													<a href="/Shop?manufacturer=MSI"><img src="/Media/Home/5.png" alt="#"></a>
												</div>
												<div class="inner-link">
													<a href="#">
														@Html.ActionLink("Intel i3", "Index", "Shop", new { manufacturer =  "i3" })
													</a>
													<a href="#">
														@Html.ActionLink("Intel i5", "Index", "Shop", new { manufacturer = "i5" })
													</a>
													<a href="#">
														@Html.ActionLink("Intel i7", "Index", "Shop", new { manufacturer = "i7" })
													</a>
												</div>
											</li>
											<li class="single-menu">
												@Html.ActionLink("Nvidia", "Index", "Shop",
												new { manufacturer = "GeForce" },
												new { Class="title-link" })
												<div class="image">
													<a href="/Shop?manufacturer=GeForce"><img src="/Media/Home/7.png" alt="#"></a>
												</div>
												<div class="inner-link">
													<a href="#">
														@Html.ActionLink("Zotac GeForce", "Index", "Shop", new { manufacturer =  "Zotac" })
													</a>
													<a href="#">
														@Html.ActionLink("Palit GeForce", "Index", "Shop", new { manufacturer = "Palit" })
													</a>
													<a href="#">
														@Html.ActionLink("ASUS Nvidia Laptops", "Index", "Shop", new { manufacturer = "ASUS" })
													</a>
												</div>
											</li>
										</ul>
									</li>
									<li><a href="/Home/UnderConstruction">Tutorials</a></li>
									<li>
										<a href="/Home/UnderConstruction">Tech Blog</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class="active"><a href="/">Home</a></li>
												<li>
													<a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
													<ul class="dropdown">
														<li><a href="/Shop">Shop</a></li>
														<li><a href="/Shop/Cart">Cart</a></li>
													</ul>
												</li>
												<li>
													<a href="#">PC Builder<i class="ti-angle-down"></i></a>
													<ul class="dropdown">
														<li><a href="/Home/UnderConstruction">Pre-built</a></li>
														<li><a href="/Home/UnderConstruction">Customize</a></li>
														<li><a href="/Home/UnderConstruction">Learn</a></li>
													</ul>
												</li>
												<li><a href="/Home/UnderConstruction">Contact Us</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</div>
	<!-- End Header -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
							<li><a href="/Shop">Shop<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/Shop/Cart">Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<!-- Shopping Cart -->
	@if (Model.Count() > 0)
	{
		<div class="shopping-cart section">
			<div class="container">
				<div id="Cart" class="row">
					@foreach (var product in Model)
					{
						<div class="col-12">
							<!-- Shopping Summery -->
							<table class="table shopping-summery">
								<thead>
									<tr class="main-hading">
										<th>PRODUCT</th>
										<th>NAME</th>
										<th class="text-center">PRICE</th>
										<th class="text-center">QUANTITY</th>
										<th class="text-center">TOTAL</th>
										<th class="text-center"><i class="ti-trash remove-icon"></i></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="image" data-title="No"><img src="@product.ImageURL" alt="#"></td>
										<td class="product-des" data-title="Description">
											<p class="product-name"><a href="/Shop/Product/@product.ID">@product.ProductName.Substring(0,35) ...</a></p>
										</td>
										<td class="price" data-title="Price" style="padding:0">
											<span class="text-decoration-line-through" style="color:red;">R @product.ProductBasePrice</span><br>
											<span style="font-weight:800;">R @product.ProductSalePrice</span>
										</td>
										<td class="qty" data-title="Qty">
											<span style="text-align:center;">1</span>
										</td>
										<td class="total-amount" data-title="Total"><span style="font-weight:800;">R @product.ProductSalePrice</span></td>
										<td class="action" data-title="Remove"><a href="/Shop/Cart" onclick="loadDeleteCart('@product.ID')"><i class="ti-trash remove-icon"></i></a></td>
									</tr>
								</tbody>
							</table>
							<!--/ End Shopping Summery -->
						</div>
					}
				</div>
				<div class="row">
					<div class="col-12">
						<!-- Total Amount -->
						<div class="total-amount">
							<div class="row">
								<div class="col-lg-8 col-md-5 col-12">
									<div class="left">
										<div class="coupon">
											<form action="/Home/UnderConstruction">
												<input name="Coupon" placeholder="Enter Promo Code">
												<button class="btn">Apply</button>
											</form>
										</div>
										<br />
										@if (ViewBag.GetFreeShipping > 0)
										{
											<label>Spend R <span style="text-decoration-line:underline;">@ViewBag.GetFreeShipping</span> to get FREE DELIVERY</label>
											<br />
											<button class="btn">Help me choose</button>
										}
										else
										{
											<label>Don't worry we got your shipping costs covered!</label>
										}
									</div>
								</div>
								<div class="col-lg-4 col-md-7 col-12">
									<div class="right">
										<ul>
											<li>Cart Subtotal<span>R @ViewBag.CartTotalBase</span></li>
											<li>Shipping<span>Free</span></li>
											<li style="font-weight:800;">You Save<span>- R @ViewBag.Savings</span></li>
											<li class="last" style="text-decoration-line:line-through;">You Pay<span>R @ViewBag.CartTotalSale</span></li>
										</ul>
										<div class="button5">
											<a href="/Home/UnderConstruction" class="btn">Checkout</a>
											<a href="/Shop" class="btn">Continue shopping</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/ End Total Amount -->
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<section class="hero-slider">
			<!-- Single Slider -->
			<div class="single-slider" style="background-image:url(/Media/Shop/ShoppingCart.png)">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-9 offset-lg-3 col-12">
							<div class="text-inner">
								<div class="row">
									<div class="col-lg-7 col-12" style="background-color:rgba(0, 0, 0, 0.8);">
										<div class="hero-text">
											<h1><span style="color:ghostwhite">Don't forget to add to cart </span>Your Cart is Currently Empty...</h1>
											<p style="color:ghostwhite">Discover the lowest prices on hardware products with our AI-powered ecommerce store. Shop now for unbeatable deals.</p>
											<div class="button" style="padding:25px 0;">
												<a href="/Shop" class="btn">Shop Now!</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Single Slider -->
		</section>
	}
	<!--/ End Shopping Cart -->
	<!-- Start Shop Services Area -->
	<section class="shop-services section home">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shipping</h4>
						<p>Orders over R1000</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Warranty Included</h4>
						<p>Up to 2 years</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Secure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Price</h4>
						<p>Everything is alway on discount</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Services Area -->
	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html"><img src="images/logo2.png" alt="#"></a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - London Oxford Street.</li>
									<li>012 United Kingdom.</li>
									<li>info@eshop.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="images/payments.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	<!-- Jquery -->
	<script src="~/js-site/site.js"></script>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="~/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="~/js/facnybox.min.js"></script>
	<!-- Waypoints JS -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Ytplayer JS -->
	<script src="~/js/ytplayer.min.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!---Load QuickShop-->
	<script type="text/javascript">
		function loadQuickShop(id) {
			$.ajax({
				type: 'POST',
				url: '/Home/Index',
				data: { id: id },
				success: function (r) {
					$("#QuickShopModal").html($(r).find("#QuickShopModal").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}
	</script>
	<!---Load AddToCart-->
	<script type="text/javascript">
		function loadAddToCart(productId) {
			$.ajax({
				type: 'GET',
				url: '/Home/Index',
				data: { productId: productId },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
					showMessageAddToCartAddToCart();
				}
			});
		}
		function showMessageAddToCartAddToCart() {
			var notification = alertify.notify('Added!', 'success', 5, function () { console.log('dismissed'); });
		}
		function loadDeleteCart(productId) {
			$.ajax({
				type: 'POST',
				url: '/Shop/DeleteConfirmed',
				data: { BasketRemovePID: productId },
				success: function (r) {
					$("#Cart").html($(r).find("#Cart").html());
					showMessageDeleteCart();
				},
				error: function () {
					$("#Cart").text("Product is no Longer in Stock!");
				}
			});
		}
		function showMessageDeleteCart() {
			alertify.notify('Removed!', 'custom', 2, function () { console.log('dismissed'); });
		}
		function loadCart() {
			let basketId = 1;
			$.ajax({
				type: 'GET',
				url: '/Home/Index',
				data: { basketId: basketId },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}
	</script>
	<!---Load Progressbar-->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>
</body>
</html>