@using WebScrapper_Prototype.Controllers;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using Microsoft.AspNetCore.Identity;
@using WebScrapper_Prototype.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model X.PagedList.IPagedList<WebScrapper_Prototype.Models.Product>
@{
	ViewData["Title"] = "Shop";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link runat="server" rel="shortcut icon" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico" type="image/x-icon" />
	<link runat="server" rel="icon" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico" type="image/ico" />
	<link rel="icon" type="image/png" sizes="32x32" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico">
	<meta itemprop="image" content="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico" />
	<meta property="og:image" content="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico" />
	<!-- Title Tag  -->
	<title>Shop</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/favicon.ico/Media/LogoCropped.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="~/css/reset.css">
	<!-- Nice Select JS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="~/css/site.css">
</head>
@if (ViewData["ErrorMessage"] != null)
{
	<h1>@ViewData["ErrorMessage"]</h1>
}
else
{
	<body class="js">
		<!-- Preloader -->
		<div class="preloader">
			<div class="preloader-inner">
				<div class="preloader-icon">
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<!-- End Preloader -->
		<!-- End Scroll -->
		<div id="progressBarContainer">
			<div id="progressBar"></div>
		</div>
		<!-- Header -->
		<div class="header shop">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-12 col-12">
							<!-- Top Left -->
							<div class="top-left">
								<ul class="list-main">
									<li><i class="ti-headphone-alt"></i> <a href="tel:0815650206">Call us</a></li>
									<li><i class="ti-email"></i> <a href="mailto:brandenconnected@gmail.com">Email us</a></li>
								</ul>
							</div>
							<!--/ End Top Left -->
						</div>
						<div class="col-lg-6 col-md-12 col-12">
							<!-- Top Right -->
							<div class="right-content">
								@if (ViewBag.IsCookie)
								{
									<ul class="list-main">
										<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
										<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
										<li><i class="ti-power-off"></i><a href="/User">Login/Register</a></li>
									</ul>
								}
								else
								{
									<ul class="list-main">
										<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
										<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>		
										<li><i class="ti-power-off"></i><a href="/User">Account: @ViewBag.FirstName</a></li>
									</ul>
								}
							</div>
							<!-- End Top Right -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Middle Inner -->
			<div class="middle-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-12">
							<!-- Logo -->
							<div class="logo">
								<a href="/"><img src="/Media/LogoCropped.png" alt="logo"></a>
							</div>
							<!--/ End Logo -->
							<!-- Search Form -->
							<div class="search-top">
								<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
								<!-- Search Form -->
								<div class="search-top">
									<form class="search-form">
										@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
										<button value="search" type="submit"><i class="ti-search"></i></button>
									</form>
								</div>
								<!--/ End Search Form -->
							</div>
							<!--/ End Search Form -->
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-8 col-md-7 col-12">
							<div class="search-bar-top">
								<div class="search-bar">
									<select>
										<option selected="selected">All Categories</option>
									</select>
									<form>
										@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
										<button class="btnn" type="submit"><i class="ti-search"></i></button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								<div id="wishList" class="sinlge-bar shopping">
									<a id="wishlistHover" href="#" onclick="loadWishlist()" class="single-icon"><i class="fa fa-heart-o"></i></a>
									<div id="Wishlistbasket" class="shopping-item">
										@if (ViewBag.Wishlist == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														My Wishlist
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.Id')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.Id">
																<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
															</a>
															<h4><a href="/Shop/Product/@product.Id">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">
																1x - <span class="amount" style="text-decoration-line:line-through;">R @product.ProductBasePrice</span>
																<span class="amount" style="color:red;font-weight:800;">R @product.ProductSalePrice</span>
															</p>
														</li>
													</ul>
												}
												<div class="bottom"></div>
											}
											else
											{
												<p>Your Wish list is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
								</div>
								<div id="account" class="sinlge-bar shopping">
									<a id="AccountHover" href="/User" onclick="loadAccount()" class="single-icon"><i class="fa fa-user-circle-o"></i></a>
									@if (ViewBag.IsCookie)
									{
										<div id="AccountOptions" class="shopping-item">
											<div class="dropdown-cart-header">
												<p>@ViewBag.FirstName</p>
											</div>
											<ul class="shopping-list">
												<li>
													<a class="h5" href="/User">Login</a>
												</li>
												<li>
													<a class="h5" href="/User">Register</a>
												</li>
											</ul>
										</div>
									}
									else
									{
										<div id="AccountOptions" class="shopping-item">
											<div class="dropdown-cart-header">
												<p>Hello <span class="font-weight-bold">@ViewBag.FirstName</span>,<br /> What would you like to do?</p>
											</div>
											<ul class="shopping-list">
												<li>
													<a class="cart-img" href="/User"><img src="#" alt="UserImage" /></a>
												</li>
												<li>
													<a class="h4" href="/User">My Account</a>
												</li>
												<li>
													<a class="h5" href="/User">My Orders</a>
												</li>
												<li>
													<a class="h6" href="/User">Check Order Status</a>
												</li>
											</ul>
											<div class="bottom">
											<a href="#" onclick="userLogout()" class="btn animate">Logout</a>						
											</div>
										</div>
									}								
								</div>
								<div id="shoppingbasket" class="sinlge-bar shopping">
									<a id="basketHover" href="#" onclick="loadCart()" class="single-icon"><i class="ti-bag"></i><span class="total-count">@ViewBag.ItemCount</span></a>
									<!-- Shopping Item -->
									<div class="shopping-item">
										@if (ViewBag.BasketLoad == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														View Cart
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.Id')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.Id">
																<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
															</a>
															<h4><a href="/Shop/Product/@product.Id">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">
																1x - <span class="amount" style="text-decoration-line:line-through;">R @product.ProductBasePrice</span>
																<span class="amount" style="color:red;font-weight:800;">R @product.ProductSalePrice</span>
															</p>
														</li>
													</ul>
												}
												<div class="bottom">
													<div class="total">
														<span>Sub Total:</span>
														<span class="total-amount" style="text-decoration-line:line-through; color:red;">R @ViewBag.CartTotalBase</span>
													</div>
													<div class="total">
														<span>Discount:</span>
														<span class="total-amount" style="color:red;font-weight:800;">R @ViewBag.Savings</span>
													</div>
													<div class="total">
														<span>Total:</span>
														<span class="total-amount" style="text-decoration-line:underline">R @ViewBag.CartTotalSale</span>
													</div>
													<a href="/Checkout" class="btn animate">Checkout</a>
												</div>
											}
											else
											{
												<p>Your Cart is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
									<!--/ End Shopping Item -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Middle Inner -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="cat-nav-head">
						<div class="row">
							<div class="col-12">
								<div id="shopmenu" class="menu-area">
									<!-- Main Menu -->
									<nav class="navbar navbar-expand-lg">
										<div class="navbar-collapse">
											<div class="nav-inner">
												<ul class="nav main-menu menu navbar-nav">
													<li class="active">
														<a href="/Shop">Shop</a>
													</li>
													<li>
														<a>Upgrade Kits & Combos<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li><a href="/Cart">Upgrade Kits</a></li>
															<li><a href="/Cart">CPUs & Coolers Combos</a></li>
															<li><a href="/Cart">Peripherals Combos</a></li>
														</ul>
													</li>
													<li>
														<a>Trending Products<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="/Cart">Intels Latest i7 & i5 CPUs</a></li>
															<li><a href="/Cart">AMD Ryzen</a></li>
															<li><a href="/Cart">Nvidia RTX</a></li>
															<li><a href="/Cart">Gaming Peripherals & Accessories</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
									</nav>
									<!--/ End Main Menu -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</div>
		<!--/ End Header -->
		<!-- Start Small Banner  -->
		<section class="small-banner section">
			<div class="container-fluid">
				<div class="row">
					<!-- Single Banner  -->
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-banner">
							<img src="~/Media/Home/single-banner2.png" alt="Top Laptops">
							<div class="content" style="background-color:#ffdeadc1; padding:15px; width:100%;">
								<p style="font-weight:800;">Discount</p>
								<h3><span style="color:ghostwhite; font-weight:800;">Gaming, Personal and Work</span><br />Get It On Discount <span>24/7!</span></h3>
								<a href="#products">Shop Now</a>
							</div>
						</div>
					</div>
					<!-- /End Single Banner  -->
					<!-- Single Banner  -->
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-banner">
							<img src="~/Media/Home/single-banner1.png" alt="AI determine">
							<div class="content" style="background-color:#ffdeadc1; padding:15px;  width:100%;">
								<p style="font-weight:800;">PC Builder</p>
								<h3>Let our <span style="color:ghostwhite; font-weight:800;">AI determine</span> the best possible specs for your needs and budget</h3>
								<a href="/Home/UnderConstruction">Discover Now</a>
							</div>
						</div>
					</div>
					<!-- /End Single Banner  -->
					<!-- Single Banner  -->
					<div class="col-lg-4 col-12">
						<div class="single-banner tab-height">
							<img src="~/Media/Home/single-banner3.png" alt="Pre-Built Towers">
							<div class="content" style="background-color:#ffdeadc1; padding:15px; width:100%;">
								<p style="font-weight:800;">Pre-Built Towers</p>
								<h3>Built for <span style="color:ghostwhite; font-weight:800;">Gamers</span><br>by <span style="font-weight:800;">Gamers</span></h3>
								<a href="/Home/UnderConstruction">Discover Now</a>
							</div>
						</div>
					</div>
					<!-- /End Single Banner  -->
				</div>
			</div>
		</section>
		<!--/ End Small Banner -->
		<!-- Product -->
		<section class="product-area shop-sidebar shop section">
			<div class="container" style="max-width:100%">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-12">
						<div class="shop-sidebar">
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Categories</h3>
								<ul class="categor-list">
									<li>
										<a href="/Shop">All</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('Notebooks')">Laptops</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('GPUs')">GPUs</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('CPUs')">CPUs</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('Memory')">Memory</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('Motherboards')">Motherboards</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('SSDs')">SSDs</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('Chassis')">Chassis</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('PSUs')">PSUs</a>
									</li>
									<li>
										<a href="#row" onclick="filterProducts('Peripherals')">Peripherals</a>
									</li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Shop By Price -->
							<div class="single-widget range">
								<h3 class="title">Shop by Price</h3>
								<ul class="check-box-list">
									<li>
										<label class="checkbox-inline" for="0"><input name="news" id="0" type="checkbox">All</label>
									</li>
									<li>
										<label class="checkbox-inline" for="1"><input name="news" id="1" type="checkbox">R0 - R 1000</label><span id="priceRng1" class="count">@ViewBag.PriceRange1</span>
									</li>
									<li>
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">R1 000 - R 5000</label><span id="priceRng2" class="count">@ViewBag.PriceRange2</span>
									</li>
									<li>
										<label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox">R5 000 - R10 000</label><span id="priceRng3" class="count">@ViewBag.PriceRange3</span>
									</li>
									<li>
										<label class="checkbox-inline" for="4"><input name="news" id="4" type="checkbox">R10 000 - R20 000</label><span id="priceRng4" class="count">@ViewBag.PriceRange4</span>
									</li>
								</ul>
							</div>
							<!--/ End Shop By Price -->
						</div>
					</div>
						@if (ViewBag.CurrentFilter != null || ViewBag.Category != null || ViewBag.PriceRange != null || ViewBag.Manufacturer != null)
						{
						<div id="products" class="col-lg-9 col-md-8 col-12">
								<div id="row" class="row">
									<div class="col-12">
										<!-- Shop Top -->
										<div class="shop-top" style="background-color:#ffdeadc1;">
											<div class="content" style="width:100%;">
												<p><span>Results</span></p>
												<h3>
													Viewing
													<span style="color:orange">
														@ViewBag.Manufacturer
													</span>

													<span style="color:orange">
														@ViewBag.Category
													</span>
												</h3>
												<p>@ViewBag.PriceRange</p>
											</div>																		
											<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('All')"><i class="ti-angle-double-left"></i>Back</a>
										</div>
										<!--/ End Shop Top -->
									</div>
								</div>
								<div id="products" class="row">
									@foreach (var product in Model)
									{
									<div class="col-lg-3 col-md-6 col-12">
											<div class="single-product">
												<div class="product-img">
													<a href="/Shop/Product/@product.Id">
														<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
														@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
														{
															<span class="out-of-stock">Mega Discount</span>
														}
														else if (product.ProductBasePrice > 9000)
														{
															<span class="new">New</span>
														}
													</a>
													<div class="button-head">
														<div class="product-action">
															<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
															<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
															<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
														</div>
														<div class="product-action-2">
															<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
														</div>
													</div>
												</div>
												<div class="product-content">
													<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
													<div class="product-price">
														<span class="old">R @product.ProductBasePrice</span>
														<span style="color:red; font-weight:800;">R @product.ProductSalePrice</span>
													</div>
												</div>
											</div>
										</div>
									}
								</div>
							<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('All')"><i class="ti-angle-double-left"></i>Back</a>

						</div>
					}
					else
					{
						<div id="products" class="col-lg-9 col-md-8 col-12">								
							<div id="products" class="row">
								<div class="col-12">
									<!-- Shop Top -->
									<div class="shop-top" style="background-color:#ffdeadc1;">
										<div class="content" style="width:100%;">
											<p><span>Limited Stock</span></p>
											<h3>Latest <span style="font-weight:800">Intel</span> & <span style="font-weight:800">AMD</span> <span style="color:orange"> CPUs</span></h3>
										</div>
									</div>
									<!--/ End Shop Top -->
								</div>					
								@foreach (var product in Model.Where(m => m.ProductCategory.Equals("CPUs")).ToPagedList(1,8))
								{
									<div class="col-lg-3 col-md-6 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="/Shop/Product/@product.Id">
													<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" height="400px" width="400px" />
													@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
													{
														<span class="out-of-stock">Mega Discount</span>
													}
													else if (product.ProductBasePrice > 9000)
													{
														<span class="new">New</span>
													}
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
														<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
													</div>
													<div class="product-action-2">
														<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
												<div class="product-price">
													<span class="old" style="color:red;">R @product.ProductBasePrice</span>
													<span style="font-weight:800;">R @product.ProductSalePrice</span>
												</div>
											</div>
										</div>
									</div>
								}
								<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('CPUs')">View more<i class="ti-angle-double-right"></i></a>
							</div>
							
							<div class="row" style="padding:50px 0;">
								<div class="col-12">
									<!-- Shop Top -->
									<div class="shop-top" style="background-color:#ffdeadc1;">
										<div class="content" style="width:100%;">
											<p><span>Limited Stock</span></p>
											<h3>Just Arrived <span style="font-weight:800">NEW</span> <span style="color:orange">Graphic Cards</span></h3>
										</div>
									</div>
									<!--/ End Shop Top -->
								</div>
							</div>
							<div id="products" class="row">
								@foreach (var product in Model.Where(m => m.ProductCategory.Equals("GPUs")).ToPagedList(1, 8))
										{
											<div class="col-lg-3 col-md-6 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/Shop/Product/@product.Id">
															<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
															@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
															{
																<span class="out-of-stock">Mega Discount</span>
															}
															else if (product.ProductBasePrice > 9000)
															{
																<span class="new">New</span>
															}
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
																<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
														<div class="product-price">
															<span class="old" style="color:red;">R @product.ProductBasePrice</span>
															<span style="font-weight:800;">R @product.ProductSalePrice</span>
														</div>
													</div>
												</div>
											</div>
										}
								<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('GPUs')">View more<i class="ti-angle-double-right"></i></a>
									</div>

							<div class="row" style="padding:50px 0;">
								<div class="col-12">
									<!-- Shop Top -->
									<div class="shop-top" style="background-color:#ffdeadc1;">
										<div class="content" style="width:100%;">
											<p><span>Limited Stock</span></p>
											<h3>Build Your Dream PC <span style="font-weight:800">Selected & Tested</span> <span style="color:orange">PC Cases</span></h3>
										</div>
									</div>
									<!--/ End Shop Top -->
								</div>
							</div>
							<div id="products" class="row">
								@foreach (var product in Model.Where(m => m.ProductCategory.Equals("Chassis")).ToPagedList(1, 8))
								{
									<div class="col-lg-3 col-md-6 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="/Shop/Product/@product.Id">
													<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
													@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
													{
														<span class="out-of-stock">Mega Discount</span>
													}
													else if (product.ProductBasePrice > 9000)
													{
														<span class="new">New</span>
													}
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
														<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
													</div>
													<div class="product-action-2">
														<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
												<div class="product-price">
													<span class="old" style="color:red;">R @product.ProductBasePrice</span>
													<span style="font-weight:800;">R @product.ProductSalePrice</span>
												</div>
											</div>
										</div>
									</div>
								}																
								<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('Chassis')">View more<i class="ti-angle-double-right"></i></a>
							</div>

							<div class="row" style="padding:50px 0;">
								<div class="col-12">
									<!-- Shop Top -->
									<div class="shop-top" style="background-color:#ffdeadc1;">
										<div class="content" style="width:100%;">
											<p><span>Limited Stock</span></p>
											<h3>Gaming<span style="color:orange"> Peripherals</span></h3>
										</div>
									</div>
									<!--/ End Shop Top -->
								</div>
							</div>
							<div id="products" class="row">
								@foreach (var product in Model.Where(m => m.ProductCategory.Equals("Peripherals")).ToPagedList(1, 8))
								{
									<div class="col-lg-3 col-md-6 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="/Shop/Product/@product.Id">
													<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
													@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
													{
														<span class="out-of-stock">Mega Discount</span>
													}
													else if (product.ProductBasePrice > 9000)
													{
														<span class="new">New</span>
													}
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
														<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
													</div>
													<div class="product-action-2">
														<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
												<div class="product-price">
													<span class="old" style="color:red;">R @product.ProductBasePrice</span>
													<span style="font-weight:800;">R @product.ProductSalePrice</span>
												</div>
											</div>
										</div>
									</div>
								}
								<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('Peripherals')">View more<i class="ti-angle-double-right"></i></a>
							</div>

							<div class="row" style="padding:50px 0;">
								<div class="col-12">
									<!-- Shop Top -->
									<div class="shop-top" style="background-color:#ffdeadc1;">
										<div class="content" style="width:100%;">
											<p><span>Limited Stock</span></p>
											<h3>Get Ahead of Competition with High Resolution and Refresh Rates<span style="color:orange"> Gaming Monitors</span></h3>
										</div>
									</div>
									<!--/ End Shop Top -->
								</div>
							</div>
							<div id="products" class="row">
								@foreach (var product in Model.Where(m => m.ProductCategory.Equals("Monitors")).ToPagedList(1, 8))
								{
									<div class="col-lg-3 col-md-6 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="/Shop/Product/@product.Id">
													<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
													@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
													{
														<span class="out-of-stock">Mega Discount</span>
													}
													else if (product.ProductBasePrice > 9000)
													{
														<span class="new">New</span>
													}
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
														<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
													</div>
													<div class="product-action-2">
														<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
												<div class="product-price">
													<span class="old" style="color:red;">R @product.ProductBasePrice</span>
													<span style="font-weight:800;">R @product.ProductSalePrice</span>
												</div>
											</div>
										</div>
									</div>
								}
								<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('Monitors')">View more<i class="ti-angle-double-right"></i></a>
							</div>

							<div class="row" style="padding:50px 0;">
								<div class="col-12">
									<!-- Shop Top -->
									<div class="shop-top" style="background-color:#ffdeadc1;">
										<div class="content" style="width:100%;">
											<p><span>Limited Stock</span></p>
											<h3>Work or Play with our carefully Selected <span style="color:orange">Laptops</span></h3>
										</div>
									</div>
									<!--/ End Shop Top -->
								</div>
							</div>
							<div id="products" class="row">
								@foreach (var product in Model.Where(m => m.ProductCategory.Equals("Notebooks")).ToPagedList(1, 8))
								{
									<div class="col-lg-3 col-md-6 col-12">
										<div class="single-product">
											<div class="product-img">
												<a href="/Shop/Product/@product.Id">
													<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
													@if (product.ProductBasePrice * 0.65m > product.ProductSalePrice)
													{
														<span class="out-of-stock">Mega Discount</span>
													}
													else if (product.ProductBasePrice > 9000)
													{
														<span class="new">New</span>
													}
												</a>
												<div class="button-head">
													<div class="product-action">
														<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')"><i class=" ti-eye"></i><span>Quick Shop</span></a>
														<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
														<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
													</div>
													<div class="product-action-2">
														<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="/Shop/Product/@product.Id">@product.ProductName</a></h3>
												<div class="product-price">
													<span class="old" style="color:red;">R @product.ProductBasePrice</span>
													<span style="font-weight:800;">R @product.ProductSalePrice</span>
												</div>
											</div>
										</div>
									</div>
								}
								<a href="#products" style="color: floralwhite; top: 10px; left: 15px;" class="btn btn-indigo" onclick="loadDynamicProducts('Notebooks')">View more<i class="ti-angle-double-right"></i></a>
							</div>
						</div>
						}
				</div>
			</div>
		</section>
		<!--/ End Product -->
		<!-- Start Shop Newsletter  -->
		<section class="shop-newsletter section">
			<div class="container">
				<div class="inner-top">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 col-12">
							<!-- Start Newsletter Inner -->
							<div class="inner">
								<h4>Newsletter</h4>
								<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="EMAIL" placeholder="Your email address" required="" type="email">
									<button class="btn">Subscribe</button>
								</form>
							</div>
							<!-- End Newsletter Inner -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Newsletter -->
		<!-- Modal -->
		<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div id="QuickShopModal" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
					</div>
					<div id="progressBarContainer">
						<div id="progressBar"></div>
					</div>
					@foreach (var product in Model)
					{
						<div class="modal-body">
							<div class="row no-gutters">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<!-- Product Slider -->
									<div class="product-gallery">
										<div class="quickview-slider-active">
											<div class="single-slider">
												<img src="@Url.Action("GetImage", "Backend", new { id = product.Id })" alt="@product.ProductName" />
											</div>
										</div>
									</div>
									<!-- End Product slider -->
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<div class="quickview-content">
										<a href="/Shop/Product/@product.Id">
											<h2>@product.ProductName</h2>
										</a>
										<div class="quickview-ratting-review">
											<div class="quickview-ratting-wrap">
												<div class="quickview-ratting">
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<a href="#"> (1 customer review)</a>
											</div>
										</div>
										<div class="quickview-stock">
											<span><i class="fa fa-check-circle-o"></i> @product.ProductStock</span>
										</div>
										<div class="product-price">
											<span class="text-decoration-line-through">R @product.ProductBasePrice</span>
											<h3 style="color:red; font-weight:800;">R @product.ProductSalePrice</h3>
										</div>
										<div class="quickview-peragraph">
											<p>@product.ProductDescription</p>
										</div>
										<div class="quantity">
											<!-- Input Order -->
											<div class="input-group">
												<div class="button minus">
													<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
														<i class="ti-minus"></i>
													</button>
												</div>
												<input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
												<div class="button plus">
													<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
														<i class="ti-plus"></i>
													</button>
												</div>
											</div>
											<!--/ End Input Order -->
										</div>
										<div class="add-to-cart">
											<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
											<a href="#" onclick="loadAddToWishlist('@product.Id')" class="btn min"><i class="ti-heart"></i></a>
										</div>
										<div class="default-social">
											<h4 class="share-now">Share:</h4>
											<ul>
												<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
												<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<!-- Modal end -->
		<!-- Start Footer Area -->
		<footer class="footer">
			<!-- Footer Top -->
			<div class="footer-top section">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer about">
								<div class="logo">
									<a href="/"><img src="/Media/LogoCropped.png" alt="#"></a>
								</div>
								<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
								<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+27 81 565 0206</a></span></p>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer links">
								<h4>Information</h4>
								<ul>
									<li><a href="/Home/UnderConstruction">About Us</a></li>
									<li><a href="/Home/UnderConstruction">Faq</a></li>
									<li><a href="/Home/UnderConstruction">Terms & Conditions</a></li>
									<li><a href="/Home/UnderConstruction">Contact Us</a></li>
									<li><a href="/Home/UnderConstruction">Help</a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer links">
								<h4>Customer Service</h4>
								<ul>
									<li><a href="/Home/UnderConstruction">Payment Methods</a></li>
									<li><a href="/Home/UnderConstruction">Money-back</a></li>
									<li><a href="/Home/UnderConstruction">Returns</a></li>
									<li><a href="/Home/UnderConstruction">Shipping</a></li>
									<li><a href="/Home/UnderConstruction">Privacy Policy</a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer social">
								<h4>Get In Touch</h4>
								<!-- Single Widget -->
								<div class="contact">
									<ul>
										<li>Montague Gardens Cape Town</li>
										<li>8001 South Africa.</li>
										<li>info@swfitlink.com</li>
										<li>+27 81 565 0206</li>
									</ul>
								</div>
								<!-- End Single Widget -->
								<ul>
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-flickr"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Footer Top -->
			<div class="copyright">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="left">
									<p>Copyright © 2023 <a href="/" target="_blank">SwiftLink</a>  -  All Rights Reserved.</p>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="right">
									<img src="images/payments.png" alt="#">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /End Footer Area -->
		@section Scripts {
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
		}
		<!-- Jquery -->
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/jquery-migrate-3.0.0.js"></script>
		<script src="~/s/jquery-ui.min.js"></script>
		<!-- Popper JS -->
		<script src="~/js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="~/js/bootstrap.min.js"></script>
		<!-- Color JS -->
		<script src="~/js/colors.js"></script>
		<!-- Slicknav JS -->
		<script src="~/js/slicknav.min.js"></script>
		<!-- Owl Carousel JS -->
		<script src="~/js/owl-carousel.js"></script>
		<!-- Magnific Popup JS -->
		<script src="~/js/magnific-popup.js"></script>
		<!-- Waypoints JS -->
		<script src="~/js/waypoints.min.js"></script>
		<!-- Countdown JS -->
		<script src="~/js/finalcountdown.min.js"></script>
		<!-- Nice Select JS -->
		<script src="~/js/nicesellect.js"></script>
		<!-- Flex Slider JS -->
		<script src="~/js/flex-slider.js"></script>
		<!-- Alertify -->
		<script src="~/alertifyjs/alertify.min.js"></script>
		<!-- ScrollUp JS -->
		<script src="~/js/scrollup.js"></script>
		<!-- Onepage Nav JS -->
		<script src="~/js/onepage-nav.min.js"></script>
		<!-- Easing JS -->
		<script src="~/js/easing.js"></script>
		<!-- Active JS -->
		<script src="~/js/active.js"></script>

		<!-- Custom Scripts -->
		<!-- Load ProgressBar -->
		<script type="text/javascript">
			const progressBarContainer = document.querySelector("#progressBarContainer");
			const progressBar = document.querySelector("#progressBar");
			let totalPageHeight = document.body.scrollHeight - window.innerHeight;
			let debounceResize;

			window.addEventListener("scroll", () => {
				let newProgressHeight = window.pageYOffset / totalPageHeight;
				progressBar.style.transform = `scale(1,${newProgressHeight})`;
				progressBar.style.opacity = `${newProgressHeight}`;
			}, {
				capture: true,
				passive: true
			});

			window.addEventListener("resize", () => {
				clearTimeout(debounceResize);
				debounceResize = setTimeout(() => {
					totalPageHeight = document.body.scrollHeight - window.innerHeight;
				}, 250);
			});

			progressBarContainer.addEventListener("click", (e) => {
				let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
				window.scrollTo({
					top: newPageScroll,
					behavior: 'smooth'
				});
			});
		</script>
		<!--Functions-->
		<script type="text/javascript">
			function userLogout() {
				alertify.notify('Logging out', 'custom', 2, function () { console.log('dismissed'); });
				$.ajax({
					type: 'GET',
					url: '/User/Logout',
					success: function (r) {						
						alertify.notify('You have Logged out' + category, 'success', 3, function () { console.log('dismissed'); });
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (userLogout)');
					}
				});
				window.location.href = '/Shop/Index';
			}
			function loadDynamicProducts(category) {
				alertify.notify('Please wait...', 'custom', 2, function () { console.log('dismissed'); });			
				$.ajax({
					type: 'GET',
					url: '/Shop/Index',
					data: { category: category },
					success: function (r) {
						$("#products").html($(r).find("#products").html());
						alertify.notify('Showing ' + category, 'success', 3, function () { console.log('dismissed'); });

					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadAddToCart)');
						alertify.error(e);
					}
				});
			}
			// [GET]
			// Apply Category and Price filter for product grid
			$(document).ready(function () {
				var lastChecked;
				var selectedCategory;
				var selectedPriceRange;
				$("input[type='checkbox']").change(function () {
					if (lastChecked && lastChecked != this) {
						lastChecked.checked = false;
					}
					lastChecked = this;
					selectedPriceRange = $(this).parent().text();
					filterProducts(selectedCategory, selectedPriceRange);
				});
				$(".categor-list a").click(function () {
					selectedCategory = $(this).text();
					filterProducts(selectedCategory, selectedPriceRange);

				});
				function filterProducts(category, priceRange) {
					var data = {};
					if (category) {
						data.category = category;
					}
					if (priceRange) {
						data.priceRange = priceRange;
					}
					$.ajax({
						type: "GET",
						url: "/Shop/Index",
						data: data,
						success: function (r) {
							$("#products").html($(r).find("#products").html());
							$("#priceRng1").html($(r).find("#priceRng1").html());
							$("#priceRng2").html($(r).find("#priceRng2").html());
							$("#priceRng3").html($(r).find("#priceRng3").html());
							$("#priceRng4").html($(r).find("#priceRng4").html());
						}
					});
				}
			});
			// [Alertify]
			// Prompt user to accept or decline cookies
			function fireOncePerSession2() {
				if (!sessionStorage.getItem('hasFired3')) {
					$(document).ready(function () {
						alertify.confirm('Notice!', 'The website its hitting the database alot on every reload of Shop Page... Use sparingly!',
							function () { alertify.success('Accepted') },
							function () { alertify.error('Declined') }).set('movable', false);
					});
					sessionStorage.setItem('hasFired3', true);
				}
			}
			// [Alertify]
			// Prompt user to accept or decline cookies
			function fireOncePerSession1() {
				if (!sessionStorage.getItem('hasFired1')) {
					$(document).ready(function () {
						alertify.confirm('Cookies', 'We use Cookies to Enhance Your Experience!',
							function () { alertify.success('Accepted') },
							function () { alertify.error('Declined') }).set('movable', false);
					});
					sessionStorage.setItem('hasFired1', true);
				}
			}

			// [Alertify] & [POST]
			// If user is not subscribed then prompt user with pop-up (Delay: 25 secs)
			function SendSubAlert() {
				setTimeout(function () {
					alertify.prompt('Subscribe to Our Weekly Newsletter and get 10% Off Your First Order!', ' Enter Your Email', ' ',
						function (evt, value) {
							$.ajax({
								type: 'POST',
								url: '/Home/UpdateSubscribedStatus',
								data: { email: value },
								success: function () {
									sessionStorage.setItem('hasFired2', true);
								},
								error: function () {
									console.error('Error saving email!');
								}
							});
						},
						function () { alertify.error('Cancel') });
				}, 25000);
			}

			// [GET]
			// Add to Cart
			function loadAddToCart(productId) {
				$.ajax({
					type: 'GET',
					url: '/Shop/Index',
					data: { addProduct: productId },
					success: function (r) {
						$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
						alertify.notify('Added to Cart!', 'success', 5, function () { console.log('dismissed'); });
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadAddToCart)');
						alertify.error(e);
					}
				})
			}
			
			// [GET]
			// Load Shopping Cart
			function loadCart() {
				let basketStart = 1;
				$.ajax({
					type: 'GET',
					url: '/Shop/Index',
					data: { basketStart: basketStart },
					success: function (r) {
						$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadCart)');
						alertify.error(e);
					}
				});
			}

			// [POST]
			// Delete from Cart
			function loadDeleteCart(productId) {
				$.ajax({
					type: 'GET',
					url: '/Shop/Index',
					data: { removeProduct: productId },
					success: function (r) {
						$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
						alertify.notify('Removed from Cart!', 'custom', 2, function () { console.log('dismissed'); });
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadAddToCart)');																		
						alertify.error(e);					
					}
				});
			}

			// [GET]
			// Add to Wish list
			function loadAddToWishlist(productId) {
				let wishlistStart = 1;
				$.ajax({
					type: 'GET',
					url: '/Shop/Index',
					data: { productIdW: productId },
					success: function (r) {
						$("#Wishlistbasket").html($(r).find("#Wishlistbasket").html());
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadAddToWishlist)');
						alertify.error(e);
					}
				});
			}

			// [GET]
			// Load Wish list
			function loadWishlist() {
				let wishlistStart = 1;
				$.ajax({
					type: 'GET',
					url: '/Shop/Index',
					data: { wishlistStart: wishlistStart },
					success: function (r) {
						$("#Wishlistbasket").html($(r).find("#Wishlistbasket").html());
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadDeleteWishlist)');
						alertify.error(e);
					}
				});
			}

			// [POST]
			// Delete from Wish list
			function loadDeleteWishlist(productId) {
				$.ajax({
					type: 'POST',
					url: '/Shop/DeleteConfirmed',
					data: { WishListRemovePID: productId },
					success: function (r) {
						$("#Wishlistbasket").html($(r).find("#Wishlistbasket").html());
						alertify.notify('Added to Wish list!', 'success', 5, function () { console.log('dismissed'); });
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadDeleteWishlist)');
						alertify.error(e);					
					}
				});
			}

			// [POST]
			// Load QuickShop
			function loadQuickShop(id) {
				$.ajax({
					type: 'POST',
					url: '/Shop/Index',
					data: { id: id },
					success: function (r) {
						$("#QuickShopModal").html($(r).find("#QuickShopModal").html());
					},
					error: function (e) {
						alertify.error('Error: JavaScript Function (loadDeleteWishlist)');
						alertify.error(e);						
					}
				});
			}
		</script>
	</body>
}
</html>