@using WebScrapper_Prototype.Controllers;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using Microsoft.AspNetCore.Identity;
@using WebScrapper_Prototype.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model X.PagedList.IPagedList<WebScrapper_Prototype.Models.Product>
@{
	ViewData["Title"] = "Welcome";
	ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Title Tag  -->
	<title>Swift Link</title>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="#">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="css/jquery-ui.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="css/reset.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="css/site.css">
</head>
<body class="js" onload="fireOncePerSession1(); fireOncePerSession2();">
	<h1>You Shouldn't be here!</h1>
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!--/ End Preloader -->
	<!-- Header -->
	<div class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +27 (081) 565-0206</li>
								<li>
									<i class="ti-email"></i>
									support@swiftlink.com
								</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-6 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							@if (User.IsInRole("Manager"))
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-dashboard"></i><a href="/Dashboard">Dashboard</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else if (User.IsInRole("User"))
							{
								<ul class="list-main">
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else
							{
								<ul class="list-main">																		
									<li><i class="ti-shopping-cart"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-bag"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a href="/Identity/Account/Login">Login</a></li>
								</ul>
							}
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="#" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Categories</option>
								</select>
								<form>
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button class="btnn" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					@if (User.IsInRole("User") || User.IsInRole("Manager"))
					{
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								<!-- Search Form -->
								<div class="sinlge-bar shopping">
									<a href="#" onclick="loadWishlist()" class="single-icon"><i class="fa fa-heart-o"></i></a>
									<!-- Wishlist Item -->
									<div id="Wishlistbasket" class="shopping-item">
										@if (ViewBag.Wishlist == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														My Wishlist
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.Id')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.Id"><img src="@product.ImageURL" alt="#"></a>
															<h4><a href="/Shop/Product/@product.Id">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">
																1x - <span class="amount" style="text-decoration-line:line-through;color:red;">R @product.ProductBasePrice</span>
															<span class="amount" style="font-weight:800">R @product.ProductSalePrice</span></p>
														</li>
													</ul>
												}
												<div class="bottom"></div>
											}
											else
											{
												<p>Your Wish list is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
								</div>
								<!--/ End Wishlist Item -->
								<div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar shopping">
									<a href="#" onclick="loadCart()" class="single-icon">
										<i class="ti-bag"></i>
										<span class="total-count">
											@ViewBag.BasketCount
										</span>
									</a>
									<!-- Shopping Item -->
									<div id="shoppingbasket" class="shopping-item">
@*										<script type="text/javascript">
											$(document).ready(function () {
												$('.single-icon').mouseenter(function () {
													let basketId = 1;
													$.ajax({
														type: 'GET',
														url: '/Home/Index',
														data: { basketId: basketId },
														success: function (r) {
															$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
														},
														error: function () {
															$("#productInfo h2").text("Product is no Longer in Stock!");
														}
													});
												});
											});
										</script>*@
										@if (ViewBag.BasketLoad == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														View Cart
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.Id')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.Id"><img src="@product.ImageURL" alt="#"></a>
															<h4><a href="/Shop/Product/@product.Id">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">1x - <span class="amount" style="text-decoration-line:line-through; color:red;">R @product.ProductBasePrice</span>
															<span class="amount" style="font-weight:800;">R @product.ProductSalePrice</span></p>
														</li>
													</ul>
												}
												<div class="bottom">
													<div class="total">
														<span>Sub Total:</span>
														<span class="total-amount" style="text-decoration-line:line-through; color:red;">R @ViewBag.CartTotalBase</span>
													</div>
													<div class="total">
														<span>Discount:</span>
														<span class="total-amount" style="font-weight:800;">- R @ViewBag.Savings</span>
													</div>
													<div class="total">
														<span>Total:</span>
														<span class="total-amount" style="text-decoration-line:underline;font-weight:800;">R @ViewBag.CartTotalSale</span>
													</div>
													<a href="/Home/UnderConstruction" class="btn animate">Checkout</a>
												</div>
											}
											else
											{
												<p>Your Cart is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
									<!--/ End Shopping Item -->
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>BROWSE</h3>
								<ul class="main-category">																						
@*									<li>
										<a href="#">Manufacturers <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="sub-category">
											<li>
												@Html.ActionLink("Dell", "Index", "Shop", new { manufacturer = "Dell" })
											</li>
											<li>
												@Html.ActionLink("Phanteks", "Index", "Shop", new { manufacturer = "Phanteks" })
											</li>																						
											<li>
												@Html.ActionLink("ASUS", "Index", "Shop", new { manufacturer = "ASUS" })
											</li>																						
											<li>
												@Html.ActionLink("Gigabyte", "Index", "Shop", new { manufacturer = "Gigabyte" })
											</li>
										</ul>
									</li>*@
									<li class="main-mega">
										<a href="/Home/UnderConstruction">New Arrivals<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="mega-menu">
											<li class="single-menu">																								
												@Html.ActionLink("AMD", "Index", "Shop", 
												new { manufacturer = "AMD" }, 
												new { Class="title-link" })
												<div class="image">
													<a href="/Shop?manufacturer=AMD"><img src="/Media/Home/6.png" alt="#"></a>													
												</div>
												<div class="inner-link">
													<a href="#">
														@Html.ActionLink("Ryzen 9", "Index", "Shop", new { manufacturer = "Ryzen 9" })
													</a>
													<a href="#">																												
														@Html.ActionLink("Ryzen 7", "Index", "Shop", new { manufacturer = "Ryzen 7" })
													</a>
													<a href="#">
														@Html.ActionLink("Ryzen 5", "Index", "Shop", new { manufacturer = "Ryzen 5" })
													</a>
												</div>
											</li>
											<li class="single-menu">
												@Html.ActionLink("Intel", "Index", "Shop",
												new { manufacturer = "Intel" },
												new { Class="title-link" })
												<div class="image">
													<a href="/Shop?manufacturer=MSI"><img src="/Media/Home/5.png" alt="#"></a>
												</div>
												<div class="inner-link">
													<a href="#">
														@Html.ActionLink("Intel i3", "Index", "Shop", new { manufacturer =  "i3" })
													</a>
													<a href="#">
														@Html.ActionLink("Intel i5", "Index", "Shop", new { manufacturer = "i5" })
													</a>
													<a href="#">
														@Html.ActionLink("Intel i7", "Index", "Shop", new { manufacturer = "i7" })
													</a>
												</div>
											</li>
											<li class="single-menu">
												@Html.ActionLink("Nvidia", "Index", "Shop",
												new { manufacturer = "GeForce" },
												new { Class="title-link" })												
												<div class="image">
													<a href="/Shop?manufacturer=GeForce"><img src="/Media/Home/7.png" alt="#"></a>
												</div>
												<div class="inner-link">
													<a href="#">																												
														@Html.ActionLink("Zotac GeForce", "Index", "Shop", new { manufacturer =  "Zotac" })
													</a>													
													<a href="#">																												
														@Html.ActionLink("Palit GeForce", "Index", "Shop", new { manufacturer = "Palit" })
													</a>
													<a href="#">
														@Html.ActionLink("ASUS Nvidia Laptops", "Index", "Shop", new { manufacturer = "ASUS" })
													</a>
												</div>
											</li>
										</ul>
									</li>						
									<li><a href="/Home/UnderConstruction">Tutorials</a></li>
									<li>
										<a href="/Home/UnderConstruction">Tech Blog</a>										
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class="active"><a href="/">Home</a></li>
												<li>
													<a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
													<ul class="dropdown">
														<li><a href="/Shop">Shop</a></li>
														<li><a href="/Shop/Cart">Cart</a></li>
													</ul>
												</li>	
												<li>
													<a href="#">PC Builder<i class="ti-angle-down"></i></a>
													<ul class="dropdown">
														<li><a href="/Home/UnderConstruction">Pre-built</a></li>
														<li><a href="/Home/UnderConstruction">Customize</a></li>
														<li><a href="/Home/UnderConstruction">Learn</a></li>
													</ul>
												</li>
												<li><a href="/Home/UnderConstruction">Contact Us</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</div>
	<!-- End Header -->
	<!-- Slider Area -->
	<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider" style="background-image:url(/Media/Home/hero.png)">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12" style="background-color:rgba(0, 0, 0, 0.8);">
									<div class="hero-text">
										<h1><span style="color:ghostwhite">AI-Powered Hardware Hub </span>Find the Best Deals</h1>
										<p style="color:ghostwhite">Discover the lowest prices on hardware products with our AI-powered ecommerce store. Shop now for unbeatable deals.</p>
										<div class="button" style="padding:25px 0;">
											<a href="/Shop" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->
	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="~/Media/Home/single-banner1.png" alt="AI determine">
						<div class="content" style="background-color:#ffdeadc1; padding:15px;  width:100%;">
							<p style="font-weight:800;">PC Builder</p>
							<h3>Let our <span style="color:ghostwhite; font-weight:800;">AI determine</span> the best possible specs for your needs and budget</h3>
							<a href="/Home/UnderConstruction">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="~/Media/Home/single-banner2.png" alt="Top Laptops">
						<div class="content" style="background-color:#ffdeadc1; padding:15px; width:100%;">
							<p style="font-weight:800;">Discounts 24/7</p>
							<h3><span style="color:ghostwhite; font-weight:800;">Gaming, Personal and Work,</span><br /> Find what you looking for on discount</h3>
							<a href="/Shop">Shop Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height">
						<img src="~/Media/Home/single-banner3.png" alt="Pre-Built Towers">
						<div class="content" style="background-color:#ffdeadc1; padding:15px; width:100%;">
							<p style="font-weight:800;">Pre-Built Towers</p>
							<h3>Built for <span style="color:ghostwhite; font-weight:800;">Gamers</span><br>by <span style="font-weight:800;">Gamers</span></h3>
							<a href="/Home/UnderConstruction">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
	<!--/ End Small Banner -->
	<!-- Start Product Area -->
	<div id="products" class="product-area section">
		<div id="progressBarContainer">
			<div id="progressBar"></div>
		</div>
		<div id="message-overlay"></div>
		<div id="message"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Top Products</h2>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="product-info">
					<div class="nav-main">
						<!-- Tab Nav -->
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a href="#products" class="filter-link" data-filter="AMD">AMD</a>
							</li>
							<li class="nav-item">
								<a href="#products" class="filter-link" data-filter="Intel">Intel</a>
							</li>
							<li class="nav-item">
								<a href="#products" class="filter-link" data-filter="Nvidia">Nvidia</a>
						</ul>
						<div id="products" class="tab-content">
							<!-- Start Single Tab -->
							<div class="tab-pane fade show active" role="tabpanel">
								<div class="tab-single">
									<div class="row">
										@foreach (var product in Model)
										{
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/Shop/Product/@product.Id">
															@if (product.ImageURL.Contains("www"))
															{
																<img crossorigin="anonymous" class="default-img" src="@product.ImageURL" alt="productimage" />
																<img crossorigin="anonymous" class="hover-img" src="@product.ImageURL" alt="productimage" />
															}
															else
															{
																<img crossorigin="anonymous" class="default-img" src="~/Uploads/@product.ImageURL" alt="productimage" />
																<img crossorigin="anonymous" class="hover-img" src="~/Uploads/@product.ImageURL" alt="productimage" />
															}
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#Modal" title="Quick View" href="#" onclick="loadQuickShop('@product.Id')" class="filterA">
																	<i class="ti-eye"></i>
																	<span>QuickShop</span>
																</a>
																<a title="Wishlist" href="#" onclick="loadAddToWishlist('@product.Id')"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
															</div>
															<div class="product-action-2">
																@if (User.IsInRole("User") || User.IsInRole("Manager"))
																{

																	<a href="#products" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
																}
																else
																{
																	<a href="/Identity/Account/Login" class="btn">Add to cart</a>

																}
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="/Shop/Product/@product.Id">R @product.ProductName</a></h3>
														<div class="product-price">
															<span class="old" style="color:red;">R @product.ProductBasePrice</span>
															<span style="font-weight:800;">R @product.ProductSalePrice</span>
														</div>
													</div>
												</div>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
						<!--/ End Single Tab -->
					</div>
				</div>
				<!--/ End Tab Nav -->
			</div>
		</div>
	</div>
	<!--/ End Product Area -->
	<!-- Start CountDown Area -->
	<section class="cown-down">
		<div class="section-inner ">
			<div class="container-fluid">
				<div class="row">
					@foreach (var item in Model.Where(a => a.ProductName.Contains("AMD")))
					{
						@if (item.ProductSalePrice < item.ProductBasePrice / 1.5m)
						{
							<div class="col-lg-6 col-12 padding-right">
								<div class="image">
									<a href="/Shop/Product/@item.Id">
										<img src="@item.ImageURL" alt="#">
									</a>
								</div>
							</div>
							<div class="col-lg-6 col-12 padding-left">
								<div class="content">
									<div class="heading-block">
										<p class="small-title">Deal of day</p>
										<a href="/Shop/Product/@item.Id">
											<h3 class="title">@item.ProductName</h3>
										</a>
										<p class="text">Limited Time Offer!! </p>
										<h1 class="price" style="font-weight:800;">R @item.ProductSalePrice <s style="color:red;">R @item.ProductBasePrice</s></h1>
										<div class="coming-time">
											<div class="clearfix" data-countdown="2023/02/25"></div>
										</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</section>
	<!-- /End CountDown Area -->
	<!-- Start Shop Services Area -->
	<br />
	<section class="shop-services section home">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shipping</h4>
						<p>Orders over R1000</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Warranty Included</h4>
						<p>Up to 2 years</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Secure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Price</h4>
						<p>Everything is alway on discount</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Services Area -->
	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	<!-- Modal -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div id="QuickShopModal" class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
				</div>
				<div id="progressBarContainer">
					<div id="progressBar"></div>
				</div>
				@foreach (var product in Model)
				{
					<div class="modal-body">
						<div class="row no-gutters">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<!-- Product Slider -->
								<div class="product-gallery">
									<div class="quickview-slider-active">
										<div class="single-slider">
											@if (product.ImageURL.Contains("www"))
											{
												<img src="@product.ImageURL" alt="#">
											}
											else
											{
												<img src="~/Uploads/@product.ImageURL" alt="#">
											}
										</div>
									</div>
								</div>
								<!-- End Product slider -->
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<div class="quickview-content">
									<h2>@product.ProductName</h2>
									<div class="quickview-ratting-review">
										<div class="quickview-ratting-wrap">
											<div class="quickview-ratting">
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<a href="#"> (1 customer review)</a>
										</div>
									</div>
										<div class="quickview-stock">
											<span><i class="fa fa-check-circle-o"></i> @product.ProductStock</span>
										</div>									
									<div class="product-price">
										<span class="text-decoration-line-through" style="color:red;">R @product.ProductBasePrice</span>
										<h3 style="font-weight:800;">R @product.ProductSalePrice</h3>
									</div>
									<div class="quickview-peragraph">
										<p>@product.ProductDescription</p>
									</div>
									<div class="quantity">
										<!-- Input Order -->
										<div class="input-group">
											<div class="button minus">
												<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
													<i class="ti-minus"></i>
												</button>
											</div>
											<input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
											<div class="button plus">
												<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
													<i class="ti-plus"></i>
												</button>
											</div>
										</div>
										<!--/ End Input Order -->
									</div>
									<div class="add-to-cart">
										@if (User.IsInRole("User") || User.IsInRole("Manager"))
										{
											<a href="#" class="btn" onclick="loadAddToCart('@product.Id')">Add to cart</a>
											<a href="#" onclick="loadAddToWishlist('@product.Id')" class="btn min"><i class="ti-heart"></i></a>
										}
										else
										{
											<a href="/Identity/Account/Login" class="btn">Add to cart</a>
											<a href="/Identity/Account/Login" class="btn min"><i class="ti-heart"></i></a>
										}															
									</div>
									<div class="default-social">
										<h4 class="share-now">Share:</h4>
										<ul>
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
											<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<!-- Modal end -->
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="/"><img src="images/logo2.png" alt="#"></a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+27 81 565 0206</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="/Home/UnderConstruction">About Us</a></li>
								<li><a href="/Home/UnderConstruction">Faq</a></li>
								<li><a href="/Home/UnderConstruction">Terms & Conditions</a></li>
								<li><a href="/Home/UnderConstruction">Contact Us</a></li>
								<li><a href="/Home/UnderConstruction">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="/Home/UnderConstruction">Payment Methods</a></li>
								<li><a href="/Home/UnderConstruction">Money-back</a></li>
								<li><a href="/Home/UnderConstruction">Returns</a></li>
								<li><a href="/Home/UnderConstruction">Shipping</a></li>
								<li><a href="/Home/UnderConstruction">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>Montague Gardens, Cape Town</li>
									<li>8001 South Africa.</li>
									<li>info@swfitlink.com</li>
									<li>+27 81 565 0206</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2023 <a href="/" target="_blank">SwiftLink</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="images/payments.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	@section Scripts {
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	}
	<!-- Site -->
	<script src="~/js-site/site.js"></script>
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-3.4.1.min.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="~/js/facnybox.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Alertify -->
	<script src="~/alertifyjs/alertify.min.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>
	<!-- WOW thats cool -->
	<script type="text/javascript">new WOW().init();</script>
	<!---Load QuickShop-->
	<script type="text/javascript">
		function loadQuickShop(id) {
			$.ajax({
				type: 'POST',
				url: '/Home/Index',
				data: { id: id },
				success: function (r) {
					$("#QuickShopModal").html($(r).find("#QuickShopModal").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}
	</script>
	<!---Load Filter-->
	<script type="text/javascript">
		$(document).on("click", ".filter-link", function (e) {
			e.preventDefault();
			var filter = $(this).data("filter");
			$.ajax({
				type: "GET",
				url: "/Home/Index",
				data: { filter: filter },
				success: function (result) {
					$("#products .tab-content").html($(result).find("#products .tab-content").html());
				},
				error: function (xhr, status, error) {
					console.error(error);
				}

			});
		});
	</script>

	<!-- Custom Scripts -->
	<!--Load Scrolling Bar-->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>

	<!--Functions-->
	<script type="text/javascript">
		// [Alertify]
		// Prompt user to accept or decline cookies
		function fireOncePerSession1() {
			if (!sessionStorage.getItem('hasFired1')) {
				$(document).ready(function () {
					alertify.confirm('Cookies', 'We use Cookies to Enhance Your Experience!',
						function () { alertify.success('Accepted') },
						function () { alertify.error('Declined') }).set('movable', false);
				});
				sessionStorage.setItem('hasFired1', true);
			}
		}

		// [GET]
		// Check if user is subscribed to newsletter
		function fireOncePerSession2() {
			$(document).ready(function () {
				if (!sessionStorage.getItem('hasFired2')) {
					$.ajax({
						type: 'GET',
						url: '/Home/getUserSubcribed',
						success: function (r) {
							if (r == 0) {
								SendSubAlert();
							}
						},
						error: function () {
							$("#productInfo h2").text("Product is no Longer in Stock!");
						}
					});
				}
			});
		}

		// [Alertify] & [POST]
		// If user is not subscribed then prompt user with pop-up (Delay: 25 secs)
		// If user subscribes then update user status
		function SendSubAlert() {
			setTimeout(function () {
				alertify.prompt('Subscribe to Our Weekly Newsletter and get 10% Off Your First Order!', ' Enter Your Email', ' ',
					function (evt, value) {
						$.ajax({
							type: 'POST',
							url: '/Home/UpdateSubscribedStatus',
							data: { email: value },
							success: function () {
								sessionStorage.setItem('hasFired2', true);
							},
							error: function () {
								console.error('Error saving email!');
							}
						});
						alertify.success('Subscribed with: ' + value)
					},
					function () { alertify.error('Cancel') });
			}, 25000);
		}

		// [GET]
		// Add to Cart
		function loadAddToCart(productId) {
			$.ajax({
				type: 'GET',
				url: '/Home/Index',
				data: { productId: productId },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
					showMessage();
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [Alertify]
		// Show Message for Add to Cart
		function showMessage() {			
			var notification = alertify.notify('Added to Shopping Cart', 'success', 5, function () { console.log('dismissed'); });
		}

		// [GET]
		// Load Shopping Cart
		function loadCart() {
			let basketStart = 1;
			$.ajax({
				type: 'GET',
				url: '/Home/Index',
				data: { basketStart: basketStart },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [POST]
		// Delete from Cart
		function loadDeleteCart(productId) {
			$.ajax({
				type: 'POST',
				url: '/Shop/DeleteConfirmed',
				data: { BasketRemovePID: productId },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
					showMessageDeleteCart();

				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [Alertify]
		// Show Message for Delete from Cart
		function showMessageDeleteCart() {
			alertify.notify('Removed from Shopping Cart', 'custom', 2, function () { console.log('dismissed'); });
		}

		// [GET]
		// Add to Wish list
		function loadAddToWishlist(productId) {
			let wishlistStart = 1;
			$.ajax({
				type: 'GET',
				url: '/Home/Index',
				data: { productIdW: productId },
				success: function (r) {
					$("#Wishlistbasket").html($(r).find("#Wishlistbasket").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [POST]
		// Delete from Wish list
		function loadDeleteWishlist(productId) {
			$.ajax({
				type: 'POST',
				url: '/Shop/DeleteConfirmed',
				data: { WishListRemovePID: productId },
				success: function (r) {
					$("#Wishlistbasket").html($(r).find("#Wishlistbasket").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [GET]
		// Load Wish list
		function loadWishlist() {
			let wishlistStart = 1;
			$.ajax({
				type: 'GET',
				url: '/Home/Index',
				data: { wishlistStart: wishlistStart },
				success: function (r) {
					$("#Wishlistbasket").html($(r).find("#Wishlistbasket").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [POST]
		// Load QuickShop
		function loadQuickShop(id) {
			$.ajax({
				type: 'POST',
				url: '/Home/Index',
				data: { id: id },
				success: function (r) {
					$("#QuickShopModal").html($(r).find("#QuickShopModal").html());
				},
				error: function () {
					$("#productInfo h2").text("Product is no Longer in Stock!");
				}
			});
		}

		// [GET]
		// Apply Category and Price filter for product grid
		$(document).ready(function () {
			var lastChecked;
			var selectedCategory;
			var selectedPriceRange;
			$("input[type='checkbox']").change(function () {
				if (lastChecked && lastChecked != this) {
					lastChecked.checked = false;
				}
				lastChecked = this;
				selectedPriceRange = $(this).parent().text();
				filterProducts(selectedCategory, selectedPriceRange);
			});
			$(".categor-list a").click(function () {
				selectedCategory = $(this).text();
				filterProducts(selectedCategory, selectedPriceRange);

			});
			function filterProducts(category, priceRange) {
				var data = {};
				if (category) {
					data.category = category;
				}
				if (priceRange) {
					data.priceRange = priceRange;
				}
				$.ajax({
					type: "GET",
					url: "/Home/Index",
					data: data,
					success: function (r) {
						$("#products").html($(r).find("#products").html());
						$("#priceRng1").html($(r).find("#priceRng1").html());
						$("#priceRng2").html($(r).find("#priceRng2").html());
						$("#priceRng3").html($(r).find("#priceRng3").html());
						$("#priceRng4").html($(r).find("#priceRng4").html());
					}
				});
			}
		});
	</script>
</body>
</html>