@{
	ViewData["Title"] = "UnderConstruction";
	ViewBag.Title = "Under Construction";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Title Tag  -->
	<title>Swift Link</title>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- StyleSheet -->
	<link href="~/Content/PagedList.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<link rel="stylesheet" href="~/css/niceselect.css">
	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<link rel="stylesheet" href="~/css/reset.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/responsive.css">
	<link rel="stylesheet" href="~/css/site.css">
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<link href="~/Content/PagedList.css" type="text/css" rel="stylesheet">
</head>
<body class="js">
	<div class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +27 (081) 565-0206</li>
								<li>
									<i class="ti-email"></i>
									support@swiftlink.com
								</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							@if (User.IsInRole("Manager"))
							{
								<ul class="list-main">
									<li><i class="ti-bag"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-alarm-clock"></i><a href="/Shop">Shop</a></li>
									<li><i class="ti-dashboard"></i><a href="/Dashboard">Dashboard</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else if (User.IsInRole("User"))
							{
								<ul class="list-main">
									<li><i class="ti-bag"></i><a href="/Shop/Cart">Cart</a></li>
									<li><i class="ti-alarm-clock"></i> <a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Logout</a></li>
								</ul>
							}
							else
							{
								<ul class="list-main">
									<li><i class="ti-alarm-clock"></i> <a href="/Shop">Shop</a></li>
									<li><i class="ti-power-off"></i><a href="/Identity/Account/Login">Login</a></li>
								</ul>
							}
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="#" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Categories</option>
								</select>
								<form>
									@Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
									new {Class="form-control me-2", PlaceHolder="Search Products..."})
									<button class="btnn" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					@if (User.IsInRole("User") || User.IsInRole("Manager"))
					{
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								<!-- Search Form -->
								<div class="sinlge-bar shopping">
									<a href="#" onclick="loadWishlist()" class="single-icon"><i class="fa fa-heart-o"></i></a>
									<!-- Wishlist Item -->
									<div id="Wishlistbasket" class="shopping-item">
										@if (ViewBag.Wishlist == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														My Wishlist
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ID')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.ID"><img src="@product.ImageURL" alt="#"></a>
															<h4><a href="/Shop/Product/@product.ID">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">1x - <span class="amount">R @product.ProductSalePrice</span></p>
														</li>
													</ul>
												}
												<div class="bottom"></div>
											}
											else
											{
												<p>Your Wish list is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
								</div>
								<!--/ End Wishlist Item -->
								<div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar shopping">
									<a href="#" onclick="loadCart()" class="single-icon">
										<i class="ti-bag"></i>
										<span class="total-count">
											@ViewBag.BasketCount
										</span>
									</a>
									<!-- Shopping Item -->
									<div id="shoppingbasket" class="shopping-item">
										<script type="text/javascript">
											$(document).ready(function () {
												$('.single-icon').mouseenter(function () {
													let basketId = 1;
													$.ajax({
														type: 'GET',
														url: '/Home/Index',
														data: { basketId: basketId },
														success: function (r) {
															$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
														},
														error: function () {
															$("#productInfo h2").text("Product is no Longer in Stock!");
														}
													});
												});
											});
										</script>
										@if (ViewBag.BasketLoad == 1)
										{
											@if (Model.Count() > 0)
											{
												<div class="dropdown-cart-header">
													<span>Items: @Model.Count</span>
													<a href="/Shop/Cart">
														View Cart
													</a>
												</div>
												@foreach (var product in Model)
												{
													<ul class="shopping-list">
														<li>
															<a href="#" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ID')"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/Shop/Product/@product.ID"><img src="@product.ImageURL" alt="#"></a>
															<h4><a href="/Shop/Product/@product.ID">@product.ProductName.Substring(0,20) ...</a></h4>
															<p class="quantity">1x - <span class="amount">R @product.ProductSalePrice</span></p>
														</li>
													</ul>
												}
												<div class="bottom">
													<div class="total">
														<span>Sub Total:</span>
														<span class="total-amount" style="text-decoration-line:line-through">R @ViewBag.CartTotalBase</span>
													</div>
													<div class="total">
														<span>Discount:</span>
														<span class="total-amount">R @ViewBag.Savings</span>
													</div>
													<div class="total">
														<span>Total:</span>
														<span class="total-amount" style="text-decoration-line:underline">R @ViewBag.CartTotalSale</span>
													</div>
													<a href="/Home/UnderConstruction" class="btn animate">Checkout</a>
												</div>
											}
											else
											{
												<p>Your Cart is Empty</p>
											}
										}
										else
										{
											<p onclick="loadCart()">Click to load</p>
										}
									</div>
									<!--/ End Shopping Item -->
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
								<ul class="main-category">
									<li>
										<a href="#">Laptops <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="sub-category">
											<li>
												@Html.ActionLink("Dell", "Index", "Shop", new { brand = "Dell", categories = "Notebooks" })
											</li>
											<li>
												@Html.ActionLink("ASUS", "Index", "Shop", new { brand = "ASUS", categories = "Notebooks" })
											</li>
										</ul>
									</li>
									<li class="main-mega">
										<a href="/Home/UnderConstruction">Mega Discount<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="mega-menu">
											<li class="single-menu">
												<a href="/Home/UnderConstruction" class="title-link">GeForce Experience GPUs</a>
												<div class="image">
													<img src="https://via.placeholder.com/600x370" alt="#">
												</div>
												<div class="inner-link">
													<a href="/Home/UnderConstruction">GPU NAME HERE</a>
													<a href="#">GPU NAME HERE</a>
													<a href="#">GPU NAME HERE</a>
												</div>
											</li>
											<li class="single-menu">
												<a href="/Home/UnderConstruction" class="title-link">Intel</a>
												<div class="image">
													<img src="https://via.placeholder.com/600x370" alt="#">
												</div>
												<div class="inner-link">
													<a href="#">CPU NAME HERE</a>
													<a href="#">CPU NAME HERE</a>
													<a href="#">CPU NAME HERE</a>
												</div>
											</li>
											<li class="single-menu">
												<a href="/Home/UnderConstruction" class="title-link">AMD</a>
												<div class="image">
													<img src="https://via.placeholder.com/600x370" alt="#">
												</div>
												<div class="inner-link">
													<a href="#">CPU NAME HERE</a>
													<a href="#">GPU NAME HERE</a>
													<a href="#">CPU NAME HERE</a>
												</div>
											</li>
										</ul>
									</li>
									<li>
										@Html.ActionLink("GPUs", "Index",
										"Shop", new {categories = "GPUs"}, null)
									</li>
									<li>
										@Html.ActionLink("CPUs", "Index",
										"Shop", new {categories = "CPUs"}, null)
									</li>
									<li>
										@Html.ActionLink("Memory", "Index",
										"Shop", new {categories = "Memory"}, null)
									</li>
									<li>
										@Html.ActionLink("Motherboards", "Index",
										"Shop", new {categories = "Motherboards"}, null)
									</li>
									<li>
										@Html.ActionLink("SSDs", "Index",
										"Shop", new {categories = "SSDs"}, null)
									</li>
									<li>
										@Html.ActionLink("Chassis", "Index",
										"Shop", new {categories = "Chassis"}, null)
									</li>
									<li>
										@Html.ActionLink("PSUs", "Index",
										"Shop", new {categories = "PSUs"}, null)
									</li>
									<li>
										@Html.ActionLink("Peripherals", "Index",
										"Shop", new {categories = "Peripherals"}, null)
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class="active"><a href="/">Home</a></li>
												<li><a href="/Home/UnderConstruction">Mega Sale</a></li>
												<li>
													<a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
													<ul class="dropdown">
														<li><a href="/Shop">Shop</a></li>
														<li><a href="/Shop/Cart">Cart</a></li>
													</ul>
												</li>
												<li><a href="/Home/UnderConstruction">PC Builder</a></li>
												<li><a href="/Home/UnderConstruction">Tutorials</a></li>
												<li>
													<a href="/Home/UnderConstruction">Blog<i class="ti-angle-down"></i></a>
													<ul class="dropdown">
														<li><a href="/Home/UnderConstruction">Trending</a></li>
													</ul>
												</li>
												<li><a href="/Home/UnderConstruction">Contact Us</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</div>
	<!-- Slider Area -->
	<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider" style="background-image:url(/Media/Home/hero.png)">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12" style="background-color:rgba(0, 0, 0, 0.8);">
									<div class="hero-text">
										<h1><span style="color:ghostwhite">AI-Powered Hardware Hub </span>Under Construction!</h1>
										<p style="color:ghostwhite">This page is not available yet.</p>
										<div class="button" style="padding:25px 0;">
											<a href="/Shop" class="btn">Visit Our Shop!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->

<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer about">
						<div class="logo">
							<a href="/"><img src="images/logo2.png" alt="#"></a>
						</div>
						<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
						<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+27 81 565 0206</a></span></p>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Information</h4>
						<ul>
								<li><a href="/Home/UnderConstruction">About Us</a></li>
								<li><a href="/Home/UnderConstruction">Faq</a></li>
								<li><a href="/Home/UnderConstruction">Terms & Conditions</a></li>
								<li><a href="/Home/UnderConstruction">Contact Us</a></li>
								<li><a href="/Home/UnderConstruction">Help</a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Customer Service</h4>
						<ul>
								<li><a href="/Home/UnderConstruction">Payment Methods</a></li>
								<li><a href="/Home/UnderConstruction">Money-back</a></li>
								<li><a href="/Home/UnderConstruction">Returns</a></li>
								<li><a href="/Home/UnderConstruction">Shipping</a></li>
								<li><a href="/Home/UnderConstruction">Privacy Policy</a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer social">
						<h4>Get In Tuch</h4>
						<!-- Single Widget -->
						<div class="contact">
							<ul>
								<li>Montague Gardens Cape Town</li>
								<li>8001 South Africa.</li>
								<li>info@swfitlink.com</li>
								<li>+27 81 565 0206</li>
							</ul>
						</div>
						<!-- End Single Widget -->
						<ul>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-twitter"></i></a></li>
							<li><a href="#"><i class="ti-flickr"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p>Copyright © 2023 <a href="/" target="_blank">SwiftLink</a>  -  All Rights Reserved.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							<img src="images/payments.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /End Footer Area -->
@section Scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	}
<!-- Jquery -->
<script src="~/js-site/site.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.0.js"></script>
<script src="js/jquery-ui.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Color JS -->
<script src="js/colors.js"></script>
<!-- Slicknav JS -->
<script src="js/slicknav.min.js"></script>
<!-- Owl Carousel JS -->
<script src="js/owl-carousel.js"></script>
<!-- Magnific Popup JS -->
<script src="js/magnific-popup.js"></script>
<!-- Fancybox JS -->
<script src="js/facnybox.min.js"></script>
<!-- Waypoints JS -->
<script src="js/waypoints.min.js"></script>
<!-- Countdown JS -->
<script src="js/finalcountdown.min.js"></script>
<!-- Nice Select JS -->
<script src="js/nicesellect.js"></script>
<!-- Ytplayer JS -->
<script src="js/ytplayer.min.js"></script>
<!-- Flex Slider JS -->
<script src="js/flex-slider.js"></script>
<!-- ScrollUp JS -->
<script src="js/scrollup.js"></script>
<!-- Onepage Nav JS -->
<script src="js/onepage-nav.min.js"></script>
<!-- Easing JS -->
<script src="js/easing.js"></script>
<script src="~/alertifyjs/alertify.min.js"></script>
<!-- Active JS -->
<script src="js/active.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>

