@model WebScrapper_Prototype.Models.Orders

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderSubTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderSubTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderGrandTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderGrandTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
